<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDym0jQZQHTLGLgbWwTcuDoFerR3DpfQlY</string>
	<key>GCM_SENDER_ID</key>
	<string>618469004966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.disneyVoting.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapp-eab21</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-eab21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618469004966:ios:85f58d4c7f6a41a8740667</string>
</dict>
</plist>